{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
    <h1>Welcome to TP!</h1>
    <p class="lead">Plan your tournaments</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">Login</a>
    </p>
</div>


{% endblock %}
