{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">{% trans from "messages" %}All Tournaments{% endtrans %}</h1>
        </div>
    </div>
    <div class="container">
        {% include 'tournament/table.html.twig' with {'tournamentList': tournamentList} %}
    </div>
{% endblock %}

