<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Place</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournamentList %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.place }}</td>
                <td>{{ tournament.date|date("d.m.y") }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
