<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Tournament Planner{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand app-title" href="/">Tournament Planner</a>
                <div class="" id="navbarNav">

                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div>
                    <nav class="nav justify-content-end flex-column flex-sm-row">
                        Language
                        <a class="text-xs-center nav-link" href="{{ path('locale', {'path': app.request.attributes.get('_route'), 'params': app.request.attributes.get('_route_params'), '_locale': 'en'}) }}">EN</a>
                        <a class="text-xs-center nav-link" href="{{ path('locale', {'path': app.request.attributes.get('_route'), 'params': app.request.attributes.get('_route_params'), '_locale': 'de'}) }}">DE</a>
                    </nav>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {# <script src="{{ asset('js/main.js') }}"></script> #}
        {% endblock %}
    </body>
</html>
