<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Tournament Planner{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand app-title" href="/">Tournament Planner</a>
            </nav>
            {% block body %}{% endblock %}
            <footer class="sticky-footer">
                <div class="text-center">
                    <small>Copyright © 2017</small>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            {# <script src="{{ asset('js/main.js') }}"></script> #}
        {% endblock %}
    </body>
</html>
